table {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 1245px;
    table-layout: fixed;
}

td, th {
    text-align: center;
    overflow: hidden;
    border: 1px solid gray;
    padding: 5px 10px;
}

th {
    background: SteelBlue;
    color: white;
}

tbody tr td:nth-child(2) {
    text-align: center;
}

tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
    text-align: center;
    /* font-family: monospace; */
}

.num {
    width: 55px;
}

.file {
    background: #ff4144;
    width: 100px;
}

.date {
    background: #ff4144;
    width: 150px;
}

.dateCell {
    width: 150px;
    vertical-align: top;
}

.fileCell {
    background: white;
    vertical-align: top;
    width: 100px;
}

.len, .avg {
    width: 70px;
}

.lword, .shword {
    width: 375px;
}

.filterInput {
    position: relative;
    bottom: -5px;
    line-height: 1px;
}

.fileInput {
    position: relative;
    bottom: -5px;
    line-height: 1px;
}